#ignore 
trp
server.js
.DS_Store
__pycache__
techreviewproj/techapp/__pycache__
techreviewproj/techreviewproj/__pycache__
pythonclub/pythonclub/__pycache__
pythonclub/db.sqlite3
techreviewproj/db.sqlite3
techreviewproj/techapp/__pycache__/
techreviewproj/techreviewproj/__pycache__/
pythonclub/club/__pycache__
