#ignore 
trp
server.js
.DS_Store
__pycache__
techreviewproj/techapp/__pycache__
techreviewproj/techreviewproj/__pycache__
pythonclub/club/__pycache__/__init__.cpython-37.pyc
pythonclub/club/__pycache__/admin.cpython-37.pyc
pythonclub/club/__pycache__/models.cpython-37.pyc
pythonclub/club/__pycache__/urls.cpython-37.pyc
pythonclub/club/__pycache__/views.cpython-37.pyc
pythonclub/db.sqlite3
pythonclub/pythonclub/__pycache__/__init__.cpython-37.pyc
pythonclub/pythonclub/__pycache__/settings.cpython-37.pyc
pythonclub/pythonclub/__pycache__/urls.cpython-37.pyc
pythonclub/pythonclub/__pycache__/wsgi.cpython-37.pyc
techreviewproj/db.sqlite3
techreviewproj/techapp/__pycache__/__init__.cpython-37.pyc
techreviewproj/techapp/__pycache__/admin.cpython-37.pyc
techreviewproj/techapp/__pycache__/models.cpython-37.pyc
techreviewproj/techreviewproj/__pycache__/__init__.cpython-37.pyc
techreviewproj/techreviewproj/__pycache__/settings.cpython-37.pyc
techreviewproj/techreviewproj/__pycache__/urls.cpython-37.pyc
techreviewproj/techreviewproj/__pycache__/wsgi.cpython-37.pyc
